{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2 align="center" style="margin-top: 10px;">Our Services</h2>
        <h3 align="center" style="margin-top: 10px;">Total Data Collected: {{ count }}</h3>
        <div class="row card-columns" style="margin-top: 22px;">
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="card" style="height: 420px; border-width: thick; border-color: #1b1e21">
                    <img src="/static/images/data_aggregation.jpg" class="card-img-top" alt="Data Aggregation">
                    <div class="card-body">
                        <p class="card-text">Rapid Relay accepts data from multiple sources at a frequency of 500ms. The data is segregated into different containers based on the data types</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="card" style="height: 420px; border-width: thick; border-color: #1b1e21"">
                    <img src="/static/images/compression.jpg" class="card-img-top" alt="Database Compression">
                    <div class="card-body">
                        <p class="card-text">The dataset is compressed with compression ratio of 5.1493 ie actual data is compressed by 83%</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="card" style="height: 420px; border-width: thick; border-color: #1b1e21"">
                    <img src="/static/images/multithreading1.png" class="card-img-top" alt="Multithreaded Bots">
                    <div class="card-body">
                        <p class="card-text">60 multithreaded bots were deployed to collect data from different sources and was live for six hours with ZERO packet loss</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="card" style="height: 420px; border-width: thick; border-color: #1b1e21"">
                    <img src="/static/images/cloud.png" class="card-img-top" alt="Cloud">
                    <div class="card-body">
                        <p class="card-text">Compressed data was uploaded to cloud if there is internet connectivity.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}